rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /aikotoba/{keyword} {
      // 読み取りは全員 OK
      allow get, list: if true;

      // update は「count フィールドへのトランスフォームのみ」を許可
      allow update: if (request.resource.data.diff(resource.data).affectedKeys()
        .hasOnly(['count']));
    }
      // 管理用の create / delete は Admin SDK（サーバー）でのみ
      allow create, delete: if false;
  }
}
